<!-- /*
============================================
; Title:  Exercise 3.2
; Author: Loren Wetzel
; Date:   17 January 2020
; Modified By:
; Description: how to pass data between routes
;   and how to gracefully handle 404 errors
;===========================================
*/ -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="['']" class="nav-link">Home</a>
    </li>
    <li>
      <a [routerLink]="['/user',userId]" class="nav-link">User</a>
    </li>
    <li>
      <a [routerLink]="['/blah']" class="nav-link">Something</a>
    </li>
  </ul>
</nav>
<br>
<router-outlet></router-outlet>
